@import "syntax-variables";

@statement-color : #76BAE2;
@argument-color : #0582CA;
@support-color: #04C93F;
@attack-color: #C93504;
@undercut-color:rgb(185, 4, 201);
@heading-color: #7D04C9;
@inference-color:#0582CA;
@tag-color: rgb(5, 202, 176);



atom-text-editor{
  // .scroll-view{
  //   max-width: 30em;
  //   padding-left: 2em;
  //   padding-right: 2em;
  //   margin: 0 auto;
  // }
  .syntax--italic.syntax--argdown{
    font-style:italic;
  }
  .syntax--bold.syntax--argdown{
    font-weight:bold;
  }
  .syntax--support.syntax--argdown{
    color:@support-color;
  }
  .syntax--attack.syntax--argdown{
    color:@attack-color;
  }
  .syntax--undercut.syntax--argdown{
    color:@undercut-color;
  }
  .syntax--tag.syntax--argdown{
    color:@tag-color;
  }
  .syntax--heading.syntax--argdown{
    font-weight:bold;
    color:@heading-color;
  }
  .syntax--statement-title.syntax--argdown, .syntax--entity.syntax--name.syntax--statement.syntax--argdown{
    font-weight:bold;
    color:@statement-color;
    .syntax--begin,.syntax--end{
    }
    .syntax--name{
    }
  }
  .syntax--argument-title.syntax--argdown, .syntax--entity.syntax--name.syntax--argument.syntax--argdown{
    color:@argument-color;
    font-weight:bold;
  }
  .syntax--statement-index{
    color:@argument-color;
  }
  .syntax--inference.syntax--argdown{
    color: @inference-color;
  }
  .syntax--inference.syntax--meta.syntax--argdown{
    color: @statement-color;
  }
  .syntax--inference-rule.syntax--argdown{
  }
}
//from https://github.com/braver/typewriter/blob/master/styles/typewriter.less

.item-views {
  background: @syntax-background-color !important;
}

[data-argdown="true"] {
  max-width: 100%;
  margin: 0 auto;

  & {
    .gutter {
      display: none;
    }
    .editor--private {
      .vertical-scrollbar {
        opacity: 0;
        transition: opacity .2s .1s;
      }
      &:hover .vertical-scrollbar {
        opacity: 1;
      }
    }
  }
}
